<%= form_for([:profile, @project, @update], :remote => true) do |f| %>


<div id='left'>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
   <%= f.label :body %><br />
<%= f.cktext_area :body %>
</div>
<div id="right">
		<p><%= f.label :state %><br />
	    <%= f.collection_select :state_event, @update.state_transitions, :event, :human_to_name, :include_blank => @update.state %>
	  </p>
</div>
<div class="clear"></div>
<div class="actions">
    <%= f.submit %>
</div>	
<% end %>