<% content_for :head do %>
	<%= javascript_include_tag  "rails.validations", "rails.validations.custom" %>
<% end %>

<h2>Sign up</h2>

<%= form_for( resource, :as => resource_name, :url => registration_path(resource_name), :validate => true ) do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation" class="error">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %><br />
  <%= f.password_field :password %>
</div>
<div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>

<%= render :partial => "devise/shared/links" %>
