<article class="project">
	<%  if project.video.empty? %>
		<p> video </p>
	<% else %>
		<%= image_tag "/images/video-default.jpg", :size => '300x200' %>
	<% end %>
	
	<div class="content">
		<h2><%= link_to project.title, project_path(project) %></h2>
		<p><span class="helper">分类 ：</span> <%= link_to project.category_list, "#" %> | 
		<span class="helper">创建人 ：</span> <%= link_to project.user.username, user_path(project.user) %></p>
		<p class="description"><%= truncate(project.description) %></p>
		<section class="results">
			<div class="spec">
				<p class="total"><%= project.money %>¥</p>
				<div class="moneybar"><%= project.total %> / <%= project.money %></div>
			</div>
			<div class="count"><%= project.backs.count %><p class="helper">支特者</p></div>
			<div class="count">120<p class="helper">粉丝</p></div>
			<div class="clear"></div>				
		</section>

	</div>
	<div class="clear"></div>
</article>