<% content_for :scripts do%>

<script type="text/javascript" charset="utf-8">
console.log('lalalala');
// ajax callbacks
$('#comment_submit').click(function(e){
	console.log('ajax binded');
	$("#new_comment")
		.bind('ajax:beforeSend', function(data, status, xhr) {
			console.log('sending...');
			})
//		.bind('ajax:complete', toggleLoading)			
		.bind('ajax:failure', function(data, status, xhr) {
			console.log('failure')
			
		})
		.bind('ajax:success', function(data, status, xhr) {
			console.log('success')
		})
})

</script>
<% end %>

<%= form_for([@project, @project.comments.build], :remote => :true) do |f| %>
<% if @comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@project.comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
    <% @project.comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.label :评论 %><br />
    <%= f.text_area :body, :rows => 10 %>
  </div>

 <div class="actions">
    <%= f.submit %>
  </div>	
<% end %>