<div class="slider"> </div>
<div class="field">
	
    <%= f.label :amount,  "Amount" %><br />
	From
    <%= f.text_field :amount_min, :class => 'duan min' %>
	to
	<%= f.text_field :amount_max, :class => 'duan max' %>
  </div>
  <div class="field">
    <%= f.label :description, "Description" %><br />
    <%= f.text_area :description, :rows => 3, :class => 'short' %>
	<%= f.link_to_remove "Remove this reward" %>
  </div>